.img-logo  {
    padding-top: 50px;
    max-height: 40vh;
    width: auto;
    margin: 0 auto; 
    animation: float 6s ease-in-out infinite;
    image-rendering: -webkit-optimize-contrast;
  }
  
  @keyframes float {
      0% {
          transform: translatey(0px);
      }
      50% {
          transform: translatey(-20px);
      }
      100% {
          transform: translatey(0px);
      }
  }